name: update
on:
  schedule:
    - cron: '0 8 * * *' # once daily
  workflow_dispatch:
    inputs:
      reset_state:
        type: boolean
        description: 'activate if the state should be cleared and all formulas should get recreated'
        default: false
      reset_latest_release_date:
        type: boolean
        description: 'activate if the min release date should be cleared'
        default: false
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'Casks/**'
      - state.json
  push:
    branches: [ main ]
concurrency: update-dotnet-sdks
jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Reset state
        if: github.event.inputs.reset_state == 'true'
        run: rm state.json

      - name: Set reset min release date environment variable
        run: echo "RESET_LATEST_RELEASE_DATE=${{ github.event.inputs.reset_latest_release_date }}" >> $GITHUB_ENV

      - uses: actions/setup-dotnet@v5
        
      - name: run
        run: ./app.cs

      - name: read changes
        id: changes-summary
        uses: juliangruber/read-file-action@v1
        with:
          path: ./changes-summary.txt

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ steps.changes-summary.outputs.content }}
